doctype html
html(lang='ru-RU')
	include ../common/head.jade
	body
		.main
			.main__wrapper
				.column.column-left
					block left_column
				.column.column-right
					block right_column
				.up_btn

		include ../common/footer.jade
		include ../common/scripts.jade