include ../common/_mixins

doctype html
html(lang='ru-RU')
	include ../common/head.jade
	body
		.main
			.wrapper.main__wrapper_all
				.column.column-left
					block column_left
				.column.column-right
					block column_right
				.button_up Наверх

		include ../common/footer.jade
		include ../common/scripts.jade