doctype html
html(lang='ru-RU')
	include ../common/head.jade
	body
		.main_wrap
			.main
				include ../common/header.jade
					block content

		include ../common/footer.jade
		include ../common/scripts.jade