@import "mixins";

.footer {
	margin-top: -$footerHeight;
	height: $footerHeight;
	background: url(../img/pattern.jpg) 0 0 repeat;
	padding-top: 65px;
	box-sizing: border-box;
}
.wrapper_footer {
	padding-bottom: 0;
}
.logo_foot {
	display: inline-block;
	vertical-align: middle;
	margin-right: 120px;
}
.footerMenu {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	margin-right: 65px;

	&__title {
		display: block;
		font-family: $fontBold;
	}
	&__link {
		display: block;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}
.socials {
	float: right;
	margin-top: 8px;

	&__buy_link {
		margin-right: 7px;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 20px;
	}
	&__link {
		display: inline-block;
		vertical-align: top;
		width: 45px;
		height: 44px;
		background: url(../img/socials.png) 0 0 no-repeat;
		font-size: 0;
		margin-right: 10px;

		&_vk {
			background-position: 0 0;
		}
		&_fb {
			background-position: -53px 0;
		}
		&_tw {
			background-position: -103px 0;
		}
	}
}
