@import "mixins";

.form {
	padding: 10px;
	padding-top: 15px;
	background: #f4f6f9;
	width: 100%;
	box-sizing: border-box;

	&__label {
		display: block;
		font-size: 0;
		margin-bottom: 12px;
		position: relative;
		@include cl;

	}

	&__title {
		font-family: $fontBold;
		font-size: 25px;
		line-height: 20px;
		margin-bottom: 20px;
	}

	&__desc {
		float: left;
		font-size: 14px;
		position: absolute;
		top: 0;
		left: 0;
		bottom: -5px;

		@include center;
	}

	&__input, .placeholder {
		width: 130px;
		font-size: 12px;
		color: #dae1eb;
		padding: 7px;
		box-sizing: border-box;
		border: 1px solid #dae1eb;
		float: right;

		@include placecolor(#dae1eb);
	}

	&__select {
		padding: 0;
		float: right;
		margin-left: 12px;
		border: none;
		font-size: 12px;
		color: #dae1eb;
	}

	&__option {
		display: none;
		border: 1px solid #dae1eb;
		background: #fff;
		padding: 3px;
		padding-left: 6px;
		width: 51px;
		box-sizing: border-box;
		position: relative;

		&:first-child {
			display: block;
		}

		&:after {
			content: '';
			width: 26px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			background: blue;
			cursor: pointer;
		}
	}
	.placeholder {
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		padding: 6px 7px;
	}

}
