extends ../layouts/main_layout.jade

block title

block column_left
	include ../common/logo.jade
	include ../common/form.jade
	include ../common/images.jade
	include ../common/adress.jade

block column_right
	include ../common/slider.jade
	include ../common/products.jade