footer.footer
	.wrapper.wrapper_footer

		a.logo_foot(href="#")
			img.logo_foot__img(src="img/logo_foot.png", alt="logo-footer")

		.footerMenu
			span.footerMenu__title О магазине
			a(href="").footerMenu__link О нас
			a(href="").footerMenu__link Наши цены
			a(href="").footerMenu__link Наши скидки
			a(href="").footerMenu__link Акции
		.footerMenu
			span.footerMenu__title Каталог
			a(href="").footerMenu__link Смартфоны
			a(href="").footerMenu__link Планшеты
			a(href="").footerMenu__link Компьютеры
			a(href="").footerMenu__link Аксессуары
		.footerMenu
			span.footerMenu__title Контакты
			a(href="").footerMenu__link Телефоны
			a(href="").footerMenu__link Адреса
			a(href="").footerMenu__link Карта проезда
			a(href="").footerMenu__link Обратная связь

		.socials
			.socials__buy
				a(href="").socials__buy_link
					img(src="img/appStore.png", alt="appStore").socials__buy_img
				a(href="").socials__buy_link
					img(src="img/googlePlay.png", alt="googlePlay").socials__buy_img
			.socials__links
				a(href="").socials__link.socials__link_vk vk
				a(href="").socials__link.socials__link_fb facebook
				a(href="").socials__link.socials__link_tw twitter