footer.footer
	.wrapper.wrapper_footer

		a.logo_foot(href="#")
			img.logo_foot__img(src="img/logo_foot.png", alt="logo-footer")

		.footerMenu
			span.footerMenu__title О магазине
			ul.footerMenu__list
				li.footerMenu__li
					a(href="").footerMenu__link О нас
				li.footerMenu__li
					a(href="").footerMenu__link Наши цены
				li.footerMenu__li
					a(href="").footerMenu__link Наши скидки
				li.footerMenu__li
					a(href="").footerMenu__link Акции
					
		.footerMenu
			span.footerMenu__title Каталог
			ul.footerMenu__list
				li.footerMenu__li
					a(href="").footerMenu__link Смартфоны
				li.footerMenu__li
					a(href="").footerMenu__link Планшеты
				li.footerMenu__li
					a(href="").footerMenu__link Компьютеры
				li.footerMenu__li
					a(href="").footerMenu__link Аксессуары
					
		.footerMenu
			span.footerMenu__title Контакты
			ul.footerMenu__list
				li.footerMenu__li
					a(href="").footerMenu__link Телефоны
				li.footerMenu__li
					a(href="").footerMenu__link Адреса
				li.footerMenu__li
					a(href="").footerMenu__link Карта проезда
				li.footerMenu__li
					a(href="").footerMenu__link Обратная связь

		.socials
			.socials__buy
				a(href="").socials__buy_link
					img(src="img/appStore.png", alt="appStore").socials__buy_img
				a(href="").socials__buy_link
					img(src="img/googlePlay.png", alt="googlePlay").socials__buy_img
			.socials__links
				a(href="").socials__link.socials__link_vk vk
				a(href="").socials__link.socials__link_fb facebook
				a(href="").socials__link.socials__link_tw twitter
