form#form.form(action="mail.php")
	h2.form__title Заказать звонок
	label.form__label
		span.form__desc Ваше имя
		input(type="text", name="name", placeholder="Константин", data-validation="text").form__input
	label.form__label
		span.form__desc Телефон
		input(type="text", name="phone", placeholder="+7 (912) 000-00-00", data-validation="phone").form__input
	label.form__label
		span.form__desc Почта
		input(type="text", name="mail", placeholder="ivanov@mail.ru", data-validation="mail").form__input
	label.form__label.form__label_select
		span.form__desc Дата звонка

		.form__select
			.form__selectValue 01
			.scroller
				ul.scroller__contetnt
					- for (var i = 1; i <= 12; i++)
						- if (i < 10)
							li.scroller__option= '0' + i
						-else
							li.scroller__option= i
				.scroller__bar-wrapper
					.scroller__bar.scroller__bar2

		.form__select
			.form__selectValue 01
			.scroller
				ul.scroller__contetnt

					- for (var i = 1; i <= 31; i++)
						- if (i < 10)
							li.scroller__option= '0' + i
						-else
							li.scroller__option= i

				.scroller__bar-wrapper
					.scroller__bar

	textarea(name="comment", placeholder="Комментарии").form__textarea
	.form__buttons
		button(type="submit").form__button Отправить
		button(type="reset").form__button.form__button_reset Очистить
