form.form
	h2.form__title Заказать звонок
	label.form__label
		span.form__desc Ваше имя
		input(type="text", name="name", placeholder="Константин").form__input
	label.form__label
		span.form__desc Телефон
		input(type="text", name="phone", placeholder="+7 (912) 000-00-00").form__input
	label.form__label.form__label_select
		span.form__desc Дата звонка

		ul(name="month").form__select

			- for (var i = 1; i <= 12; i++)
				- if (i < 10)
					li.form__option= '0' + i
				-else
					li.form__option= i

		ul(name="day").form__select

			- for (var i = 1; i <= 31; i++)
				- if (i < 10)
					li.form__option= '0' + i
				-else
					li.form__option= i

	textarea(name="comment", rows="10").form__textarea
	button(type="submit").button Отправить
	button(type="reset").button.button_reset Очистить