form.form
	h2.form__title Заказать звонок
	span.form__desc Ваше имя
	label.form__label
		input(type="text", name="name").form__input
	span.form__desc Телефон
	label.form__label
		input(type="text", name="phone").form__input
	span.form__desc Дата звонка
	label.form__label
		select(name="day").form__select
			option(value="qwe").fotm__option 01
			option(value="qwe").fotm__option 01
			option(value="qwe").fotm__option 01
			option(value="qwe").fotm__option 01
		select(name="month").form__select
			option(value="qwe").fotm__option 01
			option(value="qwe").fotm__option 01
			option(value="qwe").fotm__option 01
			option(value="qwe").fotm__option 01
	textarea(name="comment", rows="10").form__textarea
	button(type="submit").button Отправить
	button(type="reset").button.button_reset Очистить