ul.images
	li
		img(src="", alt="images__img1").images__img.images__img_img1
	li
		img(src="", alt="images__img2").images__img.images__img_img2
	li
		img(src="", alt="images__img3").images__img.images__img_img3
	li
		img(src="", alt="images__img4").images__img.images__img_img4
	li
		img(src="", alt="images__img5").images__img.images__img_img5
	li
		img(src="", alt="images__img6").images__img.images__img_img6
	li
		img(src="", alt="images__img7").images__img.images__img_img7
	li
		img(src="", alt="images__img8").images__img.images__img_img8
	li
		img(src="", alt="images__img9").images__img.images__img_img9