.products
	.products__name Популярные товары
	a(href="").product
		img(src="", alt="").product__img
		span.product__name Apple Thunderb Display 27"
		span.product__text.product__text-key Артикул
		span.product__text.product__text-value 42787825
		span.product__text.product__text-key Опция
		span.product__text.product__text-value включена
		span.product__text.product__text-key Цвет
		span.product__text.product__text-value серебристый
		span.product__text.product__text-key Размер
		span.product__text.product__text-value 1280*1245*90
		span.product__text.product__text-key Вес
		span.product__text.product__text-value 9 кг
	a(href="").product
		img(src="", alt="").product__img
		span.product__name iMac 27"
		span.product__text.product__text-key Артикул
		span.product__text.product__text-value 42787825
		span.product__text.product__text-key Опция
		span.product__text.product__text-value включена
		span.product__text.product__text-key Цвет
		span.product__text.product__text-value серебристый
		span.product__text.product__text-key Размер
		span.product__text.product__text-value 1280*1245*90
		span.product__text.product__text-key Вес
		span.product__text.product__text-value 9 кг
	a(href="").product
		img(src="", alt="").product__img
		span.product__name iPhone 5s Gold
		span.product__text.product__text-key Артикул
		span.product__text.product__text-value 42787825
		span.product__text.product__text-key Опция
		span.product__text.product__text-value включена
		span.product__text.product__text-key Цвет
		span.product__text.product__text-value серебристый
		span.product__text.product__text-key Размер
		span.product__text.product__text-value 1280*1245*90
		span.product__text.product__text-key Вес
		span.product__text.product__text-value 9 кг
	a(href="").product
		img(src="", alt="").product__img
		span.product__name iPad Air Wi-Fi 128GB - Silver
		span.product__text.product__text-key Артикул
		span.product__text.product__text-value 42787825
		span.product__text.product__text-key Опция
		span.product__text.product__text-value включена
		span.product__text.product__text-key Цвет
		span.product__text.product__text-value серебристый
		span.product__text.product__text-key Размер
		span.product__text.product__text-value 1280*1245*90
		span.product__text.product__text-key Вес
		span.product__text.product__text-value 9 кг
	a(href="").product
		img(src="", alt="").product__img
		span.product__name Apple iPod nano 7G 16 ГБ Blue
		span.product__text.product__text-key Артикул
		span.product__text.product__text-value 42787825
		span.product__text.product__text-key Опция
		span.product__text.product__text-value включена
		span.product__text.product__text-key Цвет
		span.product__text.product__text-value серебристый
		span.product__text.product__text-key Размер
		span.product__text.product__text-value 1280*1245*90
		span.product__text.product__text-key Вес
		span.product__text.product__text-value 9 кг

	a(href="").product
		img(src="", alt="").product__img
		span.product__name Роутер Wi-Fi Apple AirPort
		span.product__text.product__text-key Артикул
		span.product__text.product__text-value 42787825
		span.product__text.product__text-key Опция
		span.product__text.product__text-value включена
		span.product__text.product__text-key Цвет
		span.product__text.product__text-value серебристый
		span.product__text.product__text-key Размер
		span.product__text.product__text-value 1280*1245*90
		span.product__text.product__text-key Вес
		span.product__text.product__text-value 9 кг