.products
	.products__name Популярные товары
	ul.products__blocks
		+product(1, 'Apple Thunderb Display 27"', ['42787825','включена','серебристый','1280*1245*90','9 кг'])
		+product(2, 'iMac 27"', ['123123','выключена','розовый','1280*1245*90','90 кг'])
		+product(3, 'iPhone 5s Gold', ['йцуйцу','включена','синий','1280*1245*90','150 кг'])
	.products__name Товары со скидкой
	ul.products__blocks
		+product(4, 'iPad Air Wi-Fi 128GB - Silver', ['фывфыв','включена','зелёный','1280*1245*90','1 кг'])
		+product(5, 'Apple iPod nano 7G 16 ГБ Blue', ['ячсячс','не работает','фиолетовый','1280*1245*90','0,5 кг'])
		+product(6, 'Роутер Wi-Fi Apple AirPort', ['апрапрапр','выломана','золотой','1280*1245*90','60 кг'])
