.slider
	.slider__wrapp

		+slider__slide(1, 'iMac за пол цены', 'Прини свой старый Mac  и получи скидку на новый!')
		+slider__slide(2, 'До 31 декабря, iPhone 4 за 9900 руб.', 'Нет денег на шестой iPhone? Купи себе четвертый!')
		+slider__slide(3, 'Конкурс на концепт IPhone 7', 'Выйграй iPad Air за самый необычный  и интереный дизайн нового iPhone 7.')

	.slider__btn.slider__btn_prev Пред.
	.slider__btn.slider__btn_next След.